header, footer {
    border: #000000;
    border-style: dotted;
    border-width: 0;
}

@media (max-width: 1000px){ /*changes background color if width of screen is less than 1000px*/
    * {
        background-color: lightgray;
    }
}

a[target=_blank] {
    background-color: lightblue;
}

#headerlist {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    flex-grow: 2;
}

h1 {
    text-align: center;
}

.date {
    font-size: 1vmax;
}

.jtitle{
    font-size: 17pt;
}

#para1 {
    text-decoration: none;
    color: blue;
}

.para :hover {
    color: rgb(red, green, blue);
    color: hsl(234, 45%, 72%);
}

section div{
    font-family: 'Courier New', Courier, monospace;
}

.photo {
    height: fit-content;
    width: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    padding: top;
    padding: bottom;
    padding-top: 5%;
    padding-bottom: 5%;
}

.video {
    margin: top;
    margin: bottom;
    margin-top: 5%;
    margin-bottom: 5%;
}

#je2 {
    display: grid;
    justify-items: center;
    align-items: center;
}

#para2 {
    font-size: 5ex;
    display: block;
    position: static;
}

#photo2 :hover {
    height: 1000px;
    width: 1000px;
}

#video2 :hover{
    display: none;
}